<menu class="navMenu cart aTypeFilter">
	<ul>
		<li><a href="#">All</a></li>	
		<li><a href="#">Base</a></li>
		<li><a href="#">Advence</a></li>
		<li><a href="#">Button</a></li>
		<li><a href="#">Translate</a></li>
	</ul>
</menu>