<ul id="pjaxMenu">
	<li><a href="index.html" class="pjax">Home</a></li>
	<li><a href="layout.html" class="pjax">Layout</a></li>
	<li><a href="base.html" class="pjax">Base</a></li>
	<li><a href="advence.html" class="pjax">Advence</a></li>
	<li><a href="jquery.html" class="pjax">Jquery</a></li>
</ul>