	<div class="container">
		<div class="tips">Advence 所提供的功能，都必須要支援CSS3的瀏覽器才能夠正常瀏覽</div>
	</div>
	<div class="container row">
	
	
		<aside class="column3">
			<nav>
				<menu class="navMenu cart aTypeFilter">
				<ul>
					<li><a href="#">All</a></li>	
					<li><a href="#">Button</a></li>
					<li><a href="#">Translate</a></li>
				</ul>
			</menu>
		</nav>
		</aside>
	<div id="pjax-container" class="column9">		
		<section data-styletype="All">
		<h1 id="base">aModule Advence</h1>
		</section>
		<section data-styletype="All Advence Button">
			<h2  class="title">Cubic Button</h2>
			<div class="example">
			<a class="cubicButton" href="#"><i>A2</i>I need a help.</a> <a class="cubicButton2" href="#"><i>A2</i>Warring!!</a><br><br>			
			</div>
			<pre class="sass">+cubicButton($color,$leftWidth)</pre>
		</section>
		<section data-styletype="All Advence Button">
			<h2  class="title">Texture Button</h2>
			<div class="example textureWove">
			<a class="textureWove" href="#"><i>A2</i>I need a help.</a> 			
			</div>
			<pre class="sass">+textureWove($className: textureWove,$btnFile: btn_blue,$borderPadding: 4px)</pre>
		</section>
		<section data-styletype="All Advence">
			<h2 class="title">cabinet</h2>
			<div class="example">
				<div class="cabinet" style="width:380px">
				<ul>
					<li><img src="images/testimage.jpg"></li>
					<li><img src="images/testimage.jpg"></li>
					<li><img src="images/testimage.jpg"></li>
					<li><img src="images/testimage.jpg"></li>
					<li><img src="images/testimage.jpg"></li>
					<li><img src="images/testimage.jpg"></li>
					<li><img src="images/testimage.jpg"></li>
					<li><img src="images/testimage.jpg"></li>
				</ul>
			</div>
			<div class="cabinet">
				<ul>
					<li><img src="images/testimage.jpg"></li>
					<li><img src="images/testimage.jpg"></li>
					<li><img src="images/testimage.jpg"></li>
					<li><img src="images/testimage.jpg"></li>
					<li><img src="images/testimage.jpg"></li>
					<li><img src="images/testimage.jpg"></li>
					<li><img src="images/testimage.jpg"></li>
					<li><img src="images/testimage.jpg"></li>
				</ul>
			</div>
			</div>
			<pre class="sass">+cabinet()</pre>
		</section>

		<section data-styletype="All Advence">
			<h2 class="title">Sizing relatively</h2>
			<div class="example">
				<ul style="overflow: hidden">
					<li class="sizeRelative">123</li>
					<li class="sizeRelative"></li>
					<li class="sizeRelative"></li>
				</ul>
			</div>
			<pre class="sass">+sizeRelative($size: 30, $unit: vw) //vw(idth), vh(eight), vmin and vmax.</pre>
		</section>

		<section data-styletype="All Advence Translate">
			<h2 class="title">Img Stack</h2>
			<cite>//from <a href="http://inspectelement.com/demos/css3/stacks/">http://inspectelement.com/demos/css3/stacks/</a></cite>
			<div class="example clearFix">
				<div class="imgStack" style="float:left; width: 25%; margin: 0 4%;">
					<img src="images/fat.jpg" >
				</div>
				<div class="imgStack2" style="float:left; width: 25%; margin: 0 4%;">
					<img src="images/fat.jpg" >
				</div>
				<div class="imgStack3" style="float:left; width: 25%; margin: 0 4%;">
					<img src="images/fat.jpg" >
				</div>
			</div>
			<pre class="sass">+imgStack($style: rotated)//rotated twisted rotated-left</pre>
		</section>

		<section data-styletype="All Advence Translate">
			<h2 class="title">turn180</h2>
			<div class="example">
				<div class="turn180" style="width:180px;height: 300px;">
					<div class="flipper">
						<div><img src="images/testimage.jpg"></div>
						<div><img src="images/fat.jpg"></div>
					</div>				
				</div>
			</div>
			<pre class="sass">+turn180($zIndex: 10)</pre>
		</section>

		<section data-styletype="All Advence">
			<h2 class="title">Motion input</h2>
			<div class="example">
				<div class="motionInput">
					<input type="text" placeholder="search">

				</div>
			</div>
			<pre class="sass">motionInput($widthS: 100px,$widthL: 200px,$color: $defaultColorBlue)</pre>
		</section>

		<section data-styletype="All Advence Translate">
			<h2 class="title">iOS checked <small>only for webkit</small></h2>
			<div class="example">
				<div >
				<input type="checkbox" class="ios7checkbox">
				</div>
			</div>
			<pre class="sass">+ios7checkbox($className: ios7checkbox)</pre>
		</section>

		<section data-styletype="All Advence">
			<h2 class="title">Paper Shadow</h2>
			<div class="example">
				<div class="paperShadow">
				This parent element needs to set "z-index".
				</div>
			</div>
			<pre class="sass">+paperShadow()</pre>
		</section>
	</div>
		</div>
