<div class="container row">
		<aside class="column3">
			<nav>
				<menu class="navMenu cart aTypeFilter">
				<h1 id="base" class="subheader">aModule Base <small>基本模組</small></h1>
				<ul>
					<li><a href="#">All</a></li>	
					<li><a href="#">Button</a></li>
					<li><a href="#">Table</a></li>
				</ul>
			</menu>
		</nav>
		</aside>
	<div id="pjax-container" class="column9">
		<section data-styletype="All">		
		<h1>1.Typography <small>文字排版</small></h1>
		</section>
		<section data-styletype="All Base">
			<h2 class="title">Headings <small>標題</small></h2>
			<p>標準的標題模組，而文字大小使用的單位是<code>em</code>。</p>
			<div class="example">
				<blockquote class="normal"><p>demo <code>&lt;h1&gt;header... &lt;small&gt;Smaller&lt;/small&gt;&lt;/h1&gt;</code></p></blockquote>
				<h1>h1. La.....large header <small>Small header</small></h1>
				<h2>h2. Midium header <small>Small header</small></h2>
				<h3>h3. Heading 3 <small>Small header</small></h3>
				<h4>h4. Heading 4 <small>Small header</small></h4>
				<h5>h5. Heading 5 <small>Small header</small></h5>
				<h6>h6. Heading 6 <small>Small header</small></h6>
				<hr>
				<blockquote class="normal">
					<p>with <code>class="subheader"</code> <br>	
						demo <code>&lt;h1 class="subheader"&gt;header... &lt;small&gt;Smaller&lt;/small&gt;&lt;/h1&gt;</code>
					</p>
				</blockquote>				
				<h1 class="subheader">h1. La.....large header <small>Small header</small></h1>
				<h2 class="subheader nomargin">h2. Midium header <small>Small header</small></h2>
			</div>
			<pre class="sass">
				<blockquote class="normal"><p>建議使用：html, body</p></blockquote>@extend %heading</pre>
		</section>
		<section data-styletype="All Base">
			<h2 class="title">Paragraphs</h2>
			<p>段落樣式中的文字，盡量都不會去重新設定文字大小，所以規格都會依據其繼承，除了<code>sub,sup</code>有設定fontsize: smaller。</p>
			<div class="example">
			<blockquote class="normal"><p>demo <code>&lt;p&gt; 冤冤相報何時了，往事知多少。&lt;/p&gt;</code></p></blockquote>
			<p>冤冤相報何時了，往事知多少。</p>
			<blockquote class="normal"><p>demo <br>冤冤相報何時了，<code>&lt;code&gt;往事知多少&lt;/code&gt;</code>。<br>
				冤冤相報何時了，<code>&lt;strong&gt;往事知多少&lt;/strong&gt;</code>。(strong or b)<br>
				冤冤相報何時了，<code>&lt;i&gt;往事知多少&lt;/i&gt;</code>。(em or i)<br>
				冤冤相報何時了，<code>&lt;a&gt; 往事知多少&lt;/a&gt;</code>。<br>
				冤冤相報何時了，<code>&lt;sub&gt;往事知多少&lt;/sub&gt;</code>。<br>
				冤冤相報何時了，<code>&lt;sup&gt;往事知多少&lt;/sup&gt;</code>。
				
			</p></blockquote>
			<p class="nomargin">冤冤相報何時了，<code>往事知多少</code>。<br>
				冤冤相報何時了，<strong>往事知多少</strong>。<br>
				冤冤相報何時了，<i>往事知多少</i>。<br>
				冤冤相報何時了，<a href="#"> 往事知多少</a>。<br>
				冤冤相報何時了，<sub>往事知多少</sub>。<br>
				冤冤相報何時了，<sup>往事知多少</sup>。				
			</p>
			</div>
			<pre class="sass">+Paragraphs($linkColor)</pre>
		</section>
		<section data-styletype="All Base">
			<h2 class="title">code</h2>
			<p>單獨使用code標籤效果，而這沒有限制只能用在&lt;code&gt;</p>
			<div class="example">
			<blockquote class="normal"><p>demo <br>This is a <code>&lt;code&gt; code&lt;/code&gt;</code></p></blockquote>
			<p class="nomargin">This is a <code>code</code>.</p>			
			</div>
			<pre class="sass">
			<blockquote class="normal"><p>建議使用：code等行內標籤</p></blockquote>+code($color)</pre>
		</section>
		<section data-styletype="All Base">
			<h2 class="title">Abbreviations</h2>
			<div class="example">
			<p>I need a <abbr title="Are you OK?">help</abbr>.</p>			
			</div>
			<pre class="sass">+abbr</pre>
		</section>
		<section data-styletype="All Base">
			<h2 class="title">Blockquote</h2>
			<div class="example">
				<p><code>default</code>
				<blockquote class="normal clearFix">
					<p>冤冤相報何時了，往事知多少。</p>	
					<small>作者：<abbr title="不詳">不詳</abbr></small>	
				</blockquote>

				<p><code>($textAlign: right)</code></p>
				<blockquote class="right clearFix">				 
					<p>冤冤相報何時了，往事知多少。</p>	
					<p><small>作者：<abbr title="不詳">不詳</abbr></small></p>	
				</blockquote>			
			</div>
			<pre class="sass">+blockquote($borderColor,$textAlign)</pre>
		</section>
		<section data-styletype="All Base">
			<h2 class="title">Lists</h2>
			<h3>Unordered & Ordered</h3>
			<div class="example">
				<code>ul > li</code>
				<ul class="ullist">
					<li>冤冤相報何時了</li>
					<li>往事知多少
						<ul><li>知了歡聲響多少</li>
						<li>只見樹下屎不少</li></ul>
					</li>
				</ul>
				<ul class="ullist2">
					<li>冤冤相報何時了</li>
					<li>往事知多少
						<ul><li>知了歡聲響多少</li>
						<li>只見樹下屎不少</li></ul>
					</li>
				</ul>
				<code>ol > li</code>
				<ol class="ollist">
					<li>冤冤相報何時了</li>
					<li>往事知多少
						<ol><li>知了歡聲響多少</li>
						<li>只見樹下屎不少</li></ol>
					</li>
				</ol>
			</div>
			<pre class="sass">+ullist($listStyle,$listStyle2)</pre>
		</section>
		<section data-styletype="All Base">
			<h2 class="title">Defition List</h2>
			<h3>Normal</h3>
			<div class="example">
				<dl class="normal">
				    <dt><small>作者：<abbr title="不詳">不詳</abbr></small></dt>
				    <dd>冤冤相報何時了 <br>	往事知多少</dd>
				    <dt>Description lists</dt>
				    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit. <br>
					Donec id elit non mi porta gravida at eget metus.</dd>
				</dl>	
			</div>
			<pre class="sass">+dlList</pre>
			<h3>Horizontal description</h3>
			<div class="example">
				<dl class="horizontal">
				    <dt><small>作者：<abbr title="不詳">不詳</abbr></small></dt>
				    <dd>冤冤相報何時了 <br>	往事知多少</dd>
				    <dt>Description lists</dt>
				    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit. <br>
					Donec id elit non mi porta gravida at eget metus.</dd>
				</dl>	
			</div>
			<pre class="sass">+dlHorizontal($dtWidth,$gap)</pre>
		</section>
		<section data-styletype="All Base">
			<h2 class="title">Code</h2>
			<div class="example">
			<p>This is a <code>Javascript</code>.</p>			
			</div>
			<pre class="sass">+code($color)</pre>
		</section>		
		<section data-styletype="All Base Table">
			<h2 class="title">Table</h2>
			<div class="example">
				<code>default</code>
				<table class="table">
              		<thead>
              		  <tr>
              		    <th>#</th>
              		    <th>First Name</th>
              		    <th>Last Name</th>
              		    <th>Username</th>
              		  </tr>
              		</thead>
              		<tbody>
              		  <tr>
              		    <td>1</td>
              		    <td>Mark</td>
              		    <td>Otto</td>
              		    <td>@mdo</td>
              		  </tr>
              		  <tr>
              		    <td>2</td>
              		    <td>Jacob</td>
              		    <td>Thornton</td>
              		    <td>@fat</td>
              		  </tr>
              		  <tr>
              		    <td>3</td>
              		    <td>Larry</td>
              		    <td>the Bird</td>
              		    <td>@twitter</td>
              		</tr>
              	</tbody>
            </table>
            <code>(4px,#ffffcc,center)</code>
            <table class="table2">
              		<thead>
              		  <tr>
              		    <th>#</th>
              		    <th>First Name</th>
              		    <th>Last Name</th>
              		    <th>Username</th>
              		  </tr>
              		</thead>
              		<tbody>
              		  <tr>
              		    <td>1</td>
              		    <td>Mark</td>
              		    <td>Otto</td>
              		    <td>@mdo</td>
              		  </tr>
              		  <tr>
              		    <td>2</td>
              		    <td>Jacob</td>
              		    <td>Thornton</td>
              		    <td>@fat</td>
              		  </tr>
              		  <tr>
              		    <td>3</td>
              		    <td>Larry</td>
              		    <td>the Bird</td>
              		    <td>@twitter</td>
              		</tr>
              	</tbody>
            </table>
			</div>
			<pre class="sass">+atable($padding,$Color,$textAlign)</pre>
		</section>
		<section data-styletype="All Base Button">
			<h2 class="title">Forms</h2>
			<div class="example">
			<div class="aForms">
				<div class="controlGroup">					
				<label for="aFroms">E-mail</label><input id="aFroms" type="text" placeholder="Email"></div>
				<div class="controlGroup">
				<label for="aPassword">Password</label><input id="aPassword" type="password" placeholder="password"></div>
				<div class="controlGroup">
				<label for="aContent">Content</label><textarea id="aContent"></textarea>
				</div>
				<div class="controlGroup">
					<label>Select</label>
					<select>
						<option>Select</option>
						<option></option>
						<option></option>
					</select>					
				</div>
				<div class="controlGroup">
					<label>Select</label>
					<select multiple="multiple">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>				
				</div>				
				<div class="controlGroup">
					<label><input type="checkbox">Ok!</label>
					<label><input type="checkbox">NO!</label>
				</div>
			</div>		
			</div>
			<pre class="sass">+aForms()</pre>
		</section>
		<section data-styletype="All Base Button">
			<h2 class="title">aButton</h2>
			<div class="example">
			<div class="aForms">
				<div class="controlGroup">
					<button type="submit">Login In</button>
					<a class="button">Login In</a>
					<div class="aForms">
					<br>
					<a href="#" class="button"><i class="icon-ok icon-white"></i> Normal button can use bootstrap Icon,too.</a>
					</div>	
				</div>
			</div>		
			</div>
			<pre class="sass">+aForms()</pre>
		</section>
		<section data-styletype="All Base Table">
			<h2 class="title">tpl</h2>
			<div class="example">
				<code>+tpl</code>
				<fieldset id=''  data-step="1" class="tpl">
     			   <legend>搜尋</legend>
     			   <!--<label for="">搜尋條件</label>-->
     			   <input type="text" placeholder="請輸入搜尋條件">
     			 <select>
     			   <option>範例選單</option>
     			 </select>
     			   <input type="submit" value="送出">
     			 </fieldset>
				<table class="tpl">
        			<thead>
        			  <tr>
        			    <th width="20%">thead th</th>
        			    <th valign="middle">thead th</th>
        			            </tr>   
        			            </thead>
        			            <tbody>  
        			            	<tr>
        			    <th width="20%">tbody th</th>
        			    <td>tbody td
        			    </td>
        			            </tr>  
        			                 <tr>
        			    <th width="20%">tbody th</th>
        			    <td>
        			     <fieldset id=''  data-step="1" data-intro="權限修改" style="width:auto">
        					<legend>表格內表單</legend>
        					<label>textarea</label>
							<textarea></textarea>
							<label>input text</label>
        					<input type="text" placeholder="placeholder">
        					
        			        <input type="submit" value="確定">

        			     </fieldset>
        			    </td>
        			            </tr>    
        			             <tr>
        			    <th width="20%">tbody th</th>
        			    <td>
        			    	<input type="text" placeholder="placeholder">
        			    	<input type="submit" value="表格內按鈕">
        			    </td>
        			            </tr>         			                
        			</tbody>
     			 </table>
     			  <div class="tplpage"> <a href="#">Back</a> <span>1</span> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a> <a href="#">Next</a> </div>
     			  <hr>
     			  <code>+tpl(green,tpl2)</code>
     			  <fieldset id=''  data-step="1" class="tpl2">
     			   <legend>搜尋</legend>
     			   <!--<label for="">搜尋條件</label>-->
     			   <input type="text" placeholder="請輸入搜尋條件">
     			 <select>
     			   <option>範例選單</option>
     			 </select>
     			   <input type="submit" value="送出">
     			 </fieldset>
				<table class="tpl2">
        			<thead>
        			  <tr>
        			    <th width="20%">thead th</th>
        			    <th valign="middle">thead th</th>
        			            </tr>   
        			            </thead>
        			            <tbody>  
        			            	<tr>
        			    <th width="20%">tbody th</th>
        			    <td>tbody td
        			    </td>
        			            </tr>  
        			                 <tr>
        			    <th width="20%">tbody th</th>
        			    <td>
        			     <fieldset id=''  data-step="1" data-intro="權限修改" style="width:auto">
        					<legend>表格內表單</legend>
        					<label>textarea</label>
							<textarea></textarea>
							<label>input text</label>
        					<input type="text" placeholder="placeholder">
        					
        			        <input type="submit" value="確定">

        			     </fieldset>
        			    </td>
        			            </tr>    
        			             <tr>
        			    <th width="20%">tbody th</th>
        			    <td>
        			    	<input type="text" placeholder="placeholder">
        			    	<input type="submit" value="表格內按鈕">
        			    </td>
        			            </tr>         			                
        			</tbody>
     			 </table>
     			  <div class="tpl2page"> <a href="#">Back</a> <span>1</span> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a> <a href="#">Next</a> </div>
				</div>
			<pre class="sass">+tpl($color: $defaultColorBlue,$className: tpl)</pre>
		</section>
		<section data-styletype="All Base Button">
			<h2 class="title">Color Button <small>With Bootstrap Icon </small></h2>
			<p>If you need to use bootstrap icons,please <a href="http://twitter.github.io/bootstrap/customize.html#download">downloads</a> it.</p>
			<div class="example">	
			<div class="buttonColor">
				<div class="color-btn-green"><i class="icon-search icon-white"></i> It can use bootstrap Icon</div>
			</div>	
			<div class="buttonColor">
				<div class="color-btn-magenta"> It is magenta</div> 
				<div class="color-btn-red"> It is red</div>
				<div class="color-btn-orange"> It is orange</div>
				<a class="color-btn"> Login In</a>
				<div class="color-btn-green"> It is green</div>
				<div class="color-btn-aqua"> It is Aqua</div>
				<div class="color-btn-skyblue"> It is skyblue</div>
				<div class="color-btn-deepblue"> It is deepblue</div>
				<div class="color-btn-blue"> It is blue</div>	
				<a class="color-btn-purple"> It is purple</a>
				<div class="color-btn-gray"> It is gray</div>
				<div class="color-btn-darkgray"> It is darkgray</div>
			</div>
			<div class="buttonColor">
				<input type="button" class="color-btn" value="This's a input">
			</div>		
			</div>
			<pre class="sass">+buttonColor($className: btn-orange,$color: orange)
+colorfullButton($prefix: color-btn)
			</pre>
		</section>



		<section data-styletype="All Base Button">
			<h2 class="title">Flat Button <small>With Bootstrap Icon </small></h2>
			<p>If you need to use bootstrap icons,please <a href="http://twitter.github.io/bootstrap/customize.html#download">downloads</a> it.</p>
			<div class="example">	
			<div class="buttonFlat">
				<div class="flat-btn-green"><i class="icon-search icon-white"></i> It can use bootstrap Icon</div>
			</div>	
			<div class="buttonFlat">
				<div class="flat-btn-red"> It is red</div> 
				<div class="flat-btn-orange"> It is orange</div>
				<a class="flat-btn-purple"> It is purple</a> 
			</div>
			<div class="buttonFlat">
				<input type="button" class="flat-btn" value="This's a input">
			</div>
				
			</div>
			<pre class="sass">
+buttonFlat($className: btn-orange,$color: orange)
+colorFlatButton($prefix: flat-btn)
			</pre>
		</section>

	</div>
</div>



