html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.col1 {
  width: 5.58333%;
  max-width: 5.58333%;
  margin-left: 3%;
  *margin-bottom: 3%;
}

img.col1.polaroid {
  width: -14.41667%;
}

.offset1 {
  margin-left: 8.58333%;
}

.col2 {
  width: 14.16667%;
  max-width: 14.16667%;
  margin-left: 3%;
  *margin-bottom: 3%;
}

img.col2.polaroid {
  width: -5.83333%;
}

.offset2 {
  margin-left: 17.16667%;
}

.col3 {
  width: 22.75%;
  max-width: 22.75%;
  margin-left: 3%;
  *margin-bottom: 3%;
}

img.col3.polaroid {
  width: 2.75%;
}

.offset3 {
  margin-left: 25.75%;
}

.col4 {
  width: 31.33333%;
  max-width: 31.33333%;
  margin-left: 3%;
  *margin-bottom: 3%;
}

img.col4.polaroid {
  width: 11.33333%;
}

.offset4 {
  margin-left: 34.33333%;
}

.col5 {
  width: 39.91667%;
  max-width: 39.91667%;
  margin-left: 3%;
  *margin-bottom: 3%;
}

img.col5.polaroid {
  width: 19.91667%;
}

.offset5 {
  margin-left: 42.91667%;
}

.col6 {
  width: 48.5%;
  max-width: 48.5%;
  margin-left: 3%;
  *margin-bottom: 3%;
}

img.col6.polaroid {
  width: 28.5%;
}

.offset6 {
  margin-left: 51.5%;
}

.col7 {
  width: 57.08333%;
  max-width: 57.08333%;
  margin-left: 3%;
  *margin-bottom: 3%;
}

img.col7.polaroid {
  width: 37.08333%;
}

.offset7 {
  margin-left: 60.08333%;
}

.col8 {
  width: 65.66667%;
  max-width: 65.66667%;
  margin-left: 3%;
  *margin-bottom: 3%;
}

img.col8.polaroid {
  width: 45.66667%;
}

.offset8 {
  margin-left: 68.66667%;
}

.col9 {
  width: 74.25%;
  max-width: 74.25%;
  margin-left: 3%;
  *margin-bottom: 3%;
}

img.col9.polaroid {
  width: 54.25%;
}

.offset9 {
  margin-left: 77.25%;
}

.col10 {
  width: 82.83333%;
  max-width: 82.83333%;
  margin-left: 3%;
  *margin-bottom: 3%;
}

img.col10.polaroid {
  width: 62.83333%;
}

.offset10 {
  margin-left: 85.83333%;
}

.col11 {
  width: 91.41667%;
  max-width: 91.41667%;
  margin-left: 3%;
  *margin-bottom: 3%;
}

img.col11.polaroid {
  width: 71.41667%;
}

.offset11 {
  margin-left: 94.41667%;
}

.col12 {
  width: 100%;
  max-width: 100%;
  margin-left: 3%;
  *margin-bottom: 3%;
}

img.col12.polaroid {
  width: 80%;
}

.offset12 {
  margin-left: 103%;
}

.row {
  width: 1200px;
  max-width: 100%;
  margin-bottom: 15px;
}
.row [class*='col'] {
  float: left;
  min-height: 1px;
  margin-bottom: 8px;
  zoom: 1;
}
.row [class*='col']:first-child {
  margin-left: 0;
}
.row input[class*='col'], .row img[class*='col'] {
  float: none;
  margin-left: 0;
}
.row img[class*='col'] {
  height: auto;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.row {
  margin-bottom: 3%;
  overflow: hidden;
  clear: both;
  zoom: 1;
}

@font-face {
  font-family: Muli-Regular;
  src: url("fonts/Muli-Regular.ttf");
}

h1, h2, h3, h4, h5, h6 {
  line-height: 100%;
}

h1 {
  font-size: 260%;
  font-weight: bold;
  margin-bottom: 22px;
}

h2 {
  font-size: 220%;
  font-weight: bold;
  margin-bottom: 22px;
}

h3 {
  font-size: 200%;
  margin-bottom: 17.6px;
}

h4 {
  font-size: 140%;
  margin-bottom: 17.6px;
}

h5 {
  font-size: 120%;
  margin-bottom: 17.6px;
}

h6 {
  font-size: 120%;
  margin-bottom: 17.6px;
}

.tpl {
  margin-bottom: 10px;
  font-size: 13px;
}
.tpl label {
  margin: 4px 4px 2px 0;
  display: block;
}
.tpl option {
  outline: none;
}
.tpl input, .tpl textarea, .tpl select {
  line-height: 22px;
  background-color: #fefefe;
  vertical-align: middle;
  padding: 5px 6px;
  color: #333333;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.075);
}
.tpl textarea, .tpl select, .tpl input[type="text"], .tpl input[type="password"], .tpl input[type="datetime"], .tpl input[type="datetime-local"], .tpl input[type="date"], .tpl input[type="month"], .tpl input[type="time"], .tpl input[type="week"], .tpl input[type="number"], .tpl input[type="email"], .tpl input[type="url"], .tpl input[type="search"], .tpl input[type="tel"], .tpl input[type="color"], .tpl .uneditable-input {
  border: 1px solid #cccccc;
  min-width: 200px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition-property: +box-shadow;
  -moz-transition-property: +box-shadow;
  -o-transition-property: +box-shadow;
  transition-property: +box-shadow;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.tpl textarea:hover, .tpl select:hover, .tpl input[type="text"]:hover, .tpl input[type="password"]:hover, .tpl input[type="datetime"]:hover, .tpl input[type="datetime-local"]:hover, .tpl input[type="date"]:hover, .tpl input[type="month"]:hover, .tpl input[type="time"]:hover, .tpl input[type="week"]:hover, .tpl input[type="number"]:hover, .tpl input[type="email"]:hover, .tpl input[type="url"]:hover, .tpl input[type="search"]:hover, .tpl input[type="tel"]:hover, .tpl input[type="color"]:hover, .tpl .uneditable-input:hover {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}
.tpl textarea:focus, .tpl textarea:active, .tpl select:focus, .tpl select:active, .tpl input[type="text"]:focus, .tpl input[type="text"]:active, .tpl input[type="password"]:focus, .tpl input[type="password"]:active, .tpl input[type="datetime"]:focus, .tpl input[type="datetime"]:active, .tpl input[type="datetime-local"]:focus, .tpl input[type="datetime-local"]:active, .tpl input[type="date"]:focus, .tpl input[type="date"]:active, .tpl input[type="month"]:focus, .tpl input[type="month"]:active, .tpl input[type="time"]:focus, .tpl input[type="time"]:active, .tpl input[type="week"]:focus, .tpl input[type="week"]:active, .tpl input[type="number"]:focus, .tpl input[type="number"]:active, .tpl input[type="email"]:focus, .tpl input[type="email"]:active, .tpl input[type="url"]:focus, .tpl input[type="url"]:active, .tpl input[type="search"]:focus, .tpl input[type="search"]:active, .tpl input[type="tel"]:focus, .tpl input[type="tel"]:active, .tpl input[type="color"]:focus, .tpl input[type="color"]:active, .tpl .uneditable-input:focus, .tpl .uneditable-input:active {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 4px #00a0e9;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 4px #00a0e9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 4px #00a0e9;
  background-color: white;
  border: 1px solid #00a0e9;
}
.tpl button, .tpl a.button, .tpl input[type="submit"] {
  font-size: 13px;
  color: #333333;
  border: 1px solid #aaaaaa;
  text-decoration: none;
  padding: 4px 12px;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  line-height: 22px;
  text-shadow: 1 -1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #e6e6e6;
  -webkit-transition-property: +box-shadowbackground-image(linear-gradient);
  -moz-transition-property: +box-shadowbackground-image(linear-gradient);
  -o-transition-property: +box-shadowbackground-image(linear-gradient);
  transition-property: +box-shadowbackground-image(linear-gradient);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(#ffffff, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #e6e6e6);
  background-image: linear-gradient(#ffffff, #e6e6e6);
}
.tpl button[type="submit"], .tpl a.button[type="submit"], .tpl input[type="submit"][type="submit"] {
  border: 1px solid #007db6;
  color: white;
  background-color: #00a0e9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a0e9), color-stop(100%, #007db6));
  background-image: -webkit-linear-gradient(#00a0e9, #007db6);
  background-image: -moz-linear-gradient(#00a0e9, #007db6);
  background-image: -o-linear-gradient(#00a0e9, #007db6);
  background-image: linear-gradient(#00a0e9, #007db6);
}
.tpl button[type="submit"]:hover, .tpl a.button[type="submit"]:hover, .tpl input[type="submit"][type="submit"]:hover {
  background-color: #007db6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0095da), color-stop(100%, #0072a7));
  background-image: -webkit-linear-gradient(#0095da, #0072a7);
  background-image: -moz-linear-gradient(#0095da, #0072a7);
  background-image: -o-linear-gradient(#0095da, #0072a7);
  background-image: linear-gradient(#0095da, #0072a7);
}
.tpl button:hover, .tpl a.button:hover, .tpl input[type="submit"]:hover {
  background: #e6e6e6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.tpl button:focus, .tpl button:active, .tpl a.button:focus, .tpl a.button:active, .tpl input[type="submit"]:focus, .tpl input[type="submit"]:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.tpl em {
  font-weight: normal;
  color: red;
}
.tpl cite, .tpl legend, .tpl label {
  color: #555555;
}
.tpl a {
  color: #00a0e9;
  text-decoration: none;
}
.tpl a:hover {
  color: #ff0088;
}

fieldset.tpl, .tpl fieldset, .tplfieldset {
  border: 1px #cccccc dashed;
  padding: 10px;
  background: #ffffef;
}

.tplpage {
  padding-top: 10px;
  text-align: center;
}
.tplpage a {
  border: 1px #eeeeee solid;
  color: #00a0e9;
  text-decoration: none;
  background: white;
  display: inline-block;
  margin: 5px;
  padding: 1px 5px 1px 5px;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.tplpage a:hover {
  background: #00a0e9;
  color: white;
}
.tplpage span {
  border: 0;
  color: #00a0e9;
  display: inline-block;
  margin: 5px;
  padding: 1px 5px 1px 5px;
}

table.tpl {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #dddddd;
  border-left: none;
  border-bottom: none;
  border-collapse: separate;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
table.tpl th, table.tpl td {
  text-align: left;
  padding: 6px;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-collapse: collapse;
}
table.tpl thead th {
  font-weight: bolder;
  background-color: #007db6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007db6), color-stop(100%, #00a0e9));
  background-image: -webkit-linear-gradient(#007db6, #00a0e9);
  background-image: -moz-linear-gradient(#007db6, #00a0e9);
  background-image: -o-linear-gradient(#007db6, #00a0e9);
  background-image: linear-gradient(#007db6, #00a0e9);
  text-align: center;
  color: white;
  font-size: 15px;
}
table.tpl tbody tr {
  color: #333333;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
table.tpl tbody tr:nth-child(odd) {
  background-color: #fbfbfb;
}
table.tpl tbody tr:hover {
  background-color: #eeeeee;
}
table.tpl tbody th {
  background: #007db6;
  color: white;
  text-align: right;
  font-weight: bolder;
  padding-right: 15px;
}
table.tpl input, table.tpl button, table.tpl select, table.tpl textarea {
  margin: 0;
}

.tpl2 {
  margin-bottom: 10px;
  font-size: 13px;
}
.tpl2 label {
  margin: 4px 4px 2px 0;
  display: block;
}
.tpl2 option {
  outline: none;
}
.tpl2 input, .tpl2 textarea, .tpl2 select {
  line-height: 22px;
  background-color: #fefefe;
  vertical-align: middle;
  padding: 5px 6px;
  color: #333333;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.075);
}
.tpl2 textarea, .tpl2 select, .tpl2 input[type="text"], .tpl2 input[type="password"], .tpl2 input[type="datetime"], .tpl2 input[type="datetime-local"], .tpl2 input[type="date"], .tpl2 input[type="month"], .tpl2 input[type="time"], .tpl2 input[type="week"], .tpl2 input[type="number"], .tpl2 input[type="email"], .tpl2 input[type="url"], .tpl2 input[type="search"], .tpl2 input[type="tel"], .tpl2 input[type="color"], .tpl2 .uneditable-input {
  border: 1px solid #cccccc;
  min-width: 200px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition-property: +box-shadow;
  -moz-transition-property: +box-shadow;
  -o-transition-property: +box-shadow;
  transition-property: +box-shadow;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.tpl2 textarea:hover, .tpl2 select:hover, .tpl2 input[type="text"]:hover, .tpl2 input[type="password"]:hover, .tpl2 input[type="datetime"]:hover, .tpl2 input[type="datetime-local"]:hover, .tpl2 input[type="date"]:hover, .tpl2 input[type="month"]:hover, .tpl2 input[type="time"]:hover, .tpl2 input[type="week"]:hover, .tpl2 input[type="number"]:hover, .tpl2 input[type="email"]:hover, .tpl2 input[type="url"]:hover, .tpl2 input[type="search"]:hover, .tpl2 input[type="tel"]:hover, .tpl2 input[type="color"]:hover, .tpl2 .uneditable-input:hover {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}
.tpl2 textarea:focus, .tpl2 textarea:active, .tpl2 select:focus, .tpl2 select:active, .tpl2 input[type="text"]:focus, .tpl2 input[type="text"]:active, .tpl2 input[type="password"]:focus, .tpl2 input[type="password"]:active, .tpl2 input[type="datetime"]:focus, .tpl2 input[type="datetime"]:active, .tpl2 input[type="datetime-local"]:focus, .tpl2 input[type="datetime-local"]:active, .tpl2 input[type="date"]:focus, .tpl2 input[type="date"]:active, .tpl2 input[type="month"]:focus, .tpl2 input[type="month"]:active, .tpl2 input[type="time"]:focus, .tpl2 input[type="time"]:active, .tpl2 input[type="week"]:focus, .tpl2 input[type="week"]:active, .tpl2 input[type="number"]:focus, .tpl2 input[type="number"]:active, .tpl2 input[type="email"]:focus, .tpl2 input[type="email"]:active, .tpl2 input[type="url"]:focus, .tpl2 input[type="url"]:active, .tpl2 input[type="search"]:focus, .tpl2 input[type="search"]:active, .tpl2 input[type="tel"]:focus, .tpl2 input[type="tel"]:active, .tpl2 input[type="color"]:focus, .tpl2 input[type="color"]:active, .tpl2 .uneditable-input:focus, .tpl2 .uneditable-input:active {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 4px green;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 4px green;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 4px green;
  background-color: white;
  border: 1px solid green;
}
.tpl2 button, .tpl2 a.button, .tpl2 input[type="submit"] {
  font-size: 13px;
  color: #333333;
  border: 1px solid #aaaaaa;
  text-decoration: none;
  padding: 4px 12px;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  line-height: 22px;
  text-shadow: 1 -1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #e6e6e6;
  -webkit-transition-property: +box-shadowbackground-image(linear-gradient);
  -moz-transition-property: +box-shadowbackground-image(linear-gradient);
  -o-transition-property: +box-shadowbackground-image(linear-gradient);
  transition-property: +box-shadowbackground-image(linear-gradient);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(#ffffff, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #e6e6e6);
  background-image: linear-gradient(#ffffff, #e6e6e6);
}
.tpl2 button[type="submit"], .tpl2 a.button[type="submit"], .tpl2 input[type="submit"][type="submit"] {
  border: 1px solid #004d00;
  color: white;
  background-color: green;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008000), color-stop(100%, #004d00));
  background-image: -webkit-linear-gradient(#008000, #004d00);
  background-image: -moz-linear-gradient(#008000, #004d00);
  background-image: -o-linear-gradient(#008000, #004d00);
  background-image: linear-gradient(#008000, #004d00);
}
.tpl2 button[type="submit"]:hover, .tpl2 a.button[type="submit"]:hover, .tpl2 input[type="submit"][type="submit"]:hover {
  background-color: #004d00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007100), color-stop(100%, #003e00));
  background-image: -webkit-linear-gradient(#007100, #003e00);
  background-image: -moz-linear-gradient(#007100, #003e00);
  background-image: -o-linear-gradient(#007100, #003e00);
  background-image: linear-gradient(#007100, #003e00);
}
.tpl2 button:hover, .tpl2 a.button:hover, .tpl2 input[type="submit"]:hover {
  background: #e6e6e6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.tpl2 button:focus, .tpl2 button:active, .tpl2 a.button:focus, .tpl2 a.button:active, .tpl2 input[type="submit"]:focus, .tpl2 input[type="submit"]:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.tpl2 em {
  font-weight: normal;
  color: red;
}
.tpl2 cite, .tpl2 legend, .tpl2 label {
  color: #555555;
}
.tpl2 a {
  color: green;
  text-decoration: none;
}
.tpl2 a:hover {
  color: #ff0088;
}

fieldset.tpl2, .tpl2 fieldset, .tpl2fieldset {
  border: 1px #cccccc dashed;
  padding: 10px;
  background: #ffffef;
}

.tpl2page {
  padding-top: 10px;
  text-align: center;
}
.tpl2page a {
  border: 1px #eeeeee solid;
  color: green;
  text-decoration: none;
  background: white;
  display: inline-block;
  margin: 5px;
  padding: 1px 5px 1px 5px;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.tpl2page a:hover {
  background: green;
  color: white;
}
.tpl2page span {
  border: 0;
  color: green;
  display: inline-block;
  margin: 5px;
  padding: 1px 5px 1px 5px;
}

table.tpl2 {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #dddddd;
  border-left: none;
  border-bottom: none;
  border-collapse: separate;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
table.tpl2 th, table.tpl2 td {
  text-align: left;
  padding: 6px;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-collapse: collapse;
}
table.tpl2 thead th {
  font-weight: bolder;
  background-color: #004d00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #004d00), color-stop(100%, #008000));
  background-image: -webkit-linear-gradient(#004d00, #008000);
  background-image: -moz-linear-gradient(#004d00, #008000);
  background-image: -o-linear-gradient(#004d00, #008000);
  background-image: linear-gradient(#004d00, #008000);
  text-align: center;
  color: white;
  font-size: 15px;
}
table.tpl2 tbody tr {
  color: #333333;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
table.tpl2 tbody tr:nth-child(odd) {
  background-color: #fbfbfb;
}
table.tpl2 tbody tr:hover {
  background-color: #eeeeee;
}
table.tpl2 tbody th {
  background: #004d00;
  color: white;
  text-align: right;
  font-weight: bolder;
  padding-right: 15px;
}
table.tpl2 input, table.tpl2 button, table.tpl2 select, table.tpl2 textarea {
  margin: 0;
}

html, body, input, button, select, textarea, a {
  font-family: Arial;
  font-size: 13px;
}

html, body {
  font-size: 13px;
  *font-size: 14px;
  line-height: 22px;
  color: #3a3a3a;
  word-break: break-all;
  word-wrap: break-word;
  background: #fbfbfb;
}

header {
  height: 150px;
  background: #3a3a3a;
  color: white;
}
header div {
  margin: 0 auto;
}

hr {
  margin: 22px 0 22px;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid white;
}

p {
  text-align: justify;
  margin: 0 0 1em;
}
p strong {
  font-weight: bolder;
}

.clearFix {
  *zoom: 1;
  *overflow: hidden;
}
.clearFix:after {
  content: " ";
  display: table;
  clear: both;
  visibility: hidden;
}

code {
  padding: 0px 3px 0 3px;
  color: #dd1144;
  display: inline-block;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

abbr {
  cursor: help;
  border-bottom: 1px dotted #a1a1a1;
}

blockquote.normal {
  margin: 0 0 15px;
  padding: 0 0 0 15px;
  border-left: 5px solid #eeeeee;
}
blockquote.normal p, blockquote.normal ul, blockquote.normal ol {
  margin-bottom: 0;
  color: #555555;
}
blockquote.normal small, blockquote.normal em {
  font-size: 90%;
  color: #999999;
}

blockquote.right {
  margin: 0 0 15px;
  padding: 0 15px 0 0;
  border-right: 5px solid #eeeeee;
}
blockquote.right p, blockquote.right ul, blockquote.right ol {
  margin-bottom: 0;
  color: #555555;
}
blockquote.right small, blockquote.right em {
  font-size: 90%;
  color: #999999;
}
blockquote.right p {
  text-align: right;
}

.container {
  margin: 20px auto;
}

.sass {
  position: relative;
  color: #dd1144 !important;
  background-color: whitesmoke;
  padding-right: 40px;
}
.sass:before {
  content: "sassCode";
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 1px 7px;
  font-size: 90%;
  background-color: whitesmoke;
  border: 1px solid #dddddd;
  color: #9da0a4;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 16px;
  background-color: white;
  border: 1px solid #dddddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.example:before {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 1px 7px;
  font-size: 90%;
  background-color: whitesmoke;
  border: 1px solid #dddddd;
  color: #9da0a4;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.example + pre {
  margin-top: -20px;
  padding: 8px 18px 8px 18px;
  margin-bottom: 30px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  color: #777777;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

ul.ullist {
  margin: 0 0 1em 25px;
  list-style-type: disc;
}
ul.ullist ul, ul.ullist ol {
  margin: 0 0 1em 25px;
  list-style-type: circle;
}

ul.ullist2 {
  margin: 0 0 1em 25px;
  list-style-type: square;
}
ul.ullist2 ul, ul.ullist2 ol {
  margin: 0 0 1em 25px;
  list-style-type: circle;
}

ol.ollist {
  margin: 0 0 1em 25px;
  list-style-type: upper-roman;
}
ol.ollist ul, ol.ollist ol {
  margin: 0 0 1em 25px;
  list-style-type: lower-roman;
}

dl.normal dt {
  margin-bottom: 0.5em;
  font-weight: bolder;
}
dl.normal dd {
  padding-left: 1.5em;
  margin-bottom: 1em;
  color: #555555;
}
dl.normal dd:before {
  display: inline-block;
  width: 1em;
  border-top: 1px solid #cccccc;
  margin: 0.4em 0.5em 0.3em -1.5em;
  content: "";
}

dl.horizontal {
  margin-bottom: 1em;
}
dl.horizontal dt {
  float: left;
  clear: both;
  width: 100px;
  margin-right: 10px;
  font-weight: bolder;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
dl.horizontal dd {
  padding-left: 110px;
}

.cubicButton {
  background-color: #00a0e9;
  color: white;
  position: relative;
  padding: 10px 20px;
  border-left: solid 1px #005a83;
  margin-left: 40px;
  text-decoration: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: inset 0px 1px 0px #007db6, 0px 5px 0px 0px #003750, 0px 10px 5px #999999;
  -moz-box-shadow: inset 0px 1px 0px #007db6, 0px 5px 0px 0px #003750, 0px 10px 5px #999999;
  box-shadow: inset 0px 1px 0px #007db6, 0px 5px 0px 0px #003750, 0px 10px 5px #999999;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #03b0ff), color-stop(100%, #007db6));
  background-image: -webkit-linear-gradient(#03b0ff, #007db6);
  background-image: -moz-linear-gradient(#03b0ff, #007db6);
  background-image: -o-linear-gradient(#03b0ff, #007db6);
  background-image: linear-gradient(#03b0ff, #007db6);
}
.cubicButton:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007db6), color-stop(100%, #03b0ff));
  background-image: -webkit-linear-gradient(#007db6, #03b0ff);
  background-image: -moz-linear-gradient(#007db6, #03b0ff);
  background-image: -o-linear-gradient(#007db6, #03b0ff);
  background-image: linear-gradient(#007db6, #03b0ff);
  -webkit-box-shadow: inset 0px 1px 0px #007db6, 0px 4px 0px 0px #003750, 0px 5px 4px #999999;
  -moz-box-shadow: inset 0px 1px 0px #007db6, 0px 4px 0px 0px #003750, 0px 5px 4px #999999;
  box-shadow: inset 0px 1px 0px #007db6, 0px 4px 0px 0px #003750, 0px 5px 4px #999999;
}
.cubicButton:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #005a83), color-stop(100%, #1db8ff));
  background-image: -webkit-linear-gradient(#005a83, #1db8ff);
  background-image: -moz-linear-gradient(#005a83, #1db8ff);
  background-image: -o-linear-gradient(#005a83, #1db8ff);
  background-image: linear-gradient(#005a83, #1db8ff);
  -webkit-box-shadow: inset 0px 1px 0px #007db6, 0px 2px 0px 0px #003750, 0px 5px 3px #999999;
  -moz-box-shadow: inset 0px 1px 0px #007db6, 0px 2px 0px 0px #003750, 0px 5px 3px #999999;
  box-shadow: inset 0px 1px 0px #007db6, 0px 2px 0px 0px #003750, 0px 5px 3px #999999;
}
.cubicButton > i {
  background-color: #005a83;
  width: 40px;
  max-height: 29px;
  height: 100%;
  position: absolute;
  display: block;
  padding-top: 8px;
  bottom: 0px;
  left: -39px;
  font-weight: bold;
  color: #00a0e9;
  text-align: center;
  text-shadow: 1px 1px 0px black;
  border-right: solid 1px #005a83;
  z-index: 10;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: inset 0px 1px 0px #003750, 0px 5px 0px 0px #00141d, 0px 10px 5px #999999;
  -moz-box-shadow: inset 0px 1px 0px #003750, 0px 5px 0px 0px #00141d, 0px 10px 5px #999999;
  box-shadow: inset 0px 1px 0px #003750, 0px 5px 0px 0px #00141d, 0px 10px 5px #999999;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007db6), color-stop(100%, #003750));
  background-image: -webkit-linear-gradient(#007db6, #003750);
  background-image: -moz-linear-gradient(#007db6, #003750);
  background-image: -o-linear-gradient(#007db6, #003750);
  background-image: linear-gradient(#007db6, #003750);
}

.cubicButton2 {
  background-color: #e60044;
  color: white;
  position: relative;
  padding: 10px 20px;
  border-left: solid 1px #800026;
  margin-left: 40px;
  text-decoration: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: inset 0px 1px 0px #b30035, 0px 5px 0px 0px #4d0017, 0px 10px 5px #999999;
  -moz-box-shadow: inset 0px 1px 0px #b30035, 0px 5px 0px 0px #4d0017, 0px 10px 5px #999999;
  box-shadow: inset 0px 1px 0px #b30035, 0px 5px 0px 0px #4d0017, 0px 10px 5px #999999;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff004c), color-stop(100%, #b30035));
  background-image: -webkit-linear-gradient(#ff004c, #b30035);
  background-image: -moz-linear-gradient(#ff004c, #b30035);
  background-image: -o-linear-gradient(#ff004c, #b30035);
  background-image: linear-gradient(#ff004c, #b30035);
}
.cubicButton2:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b30035), color-stop(100%, #ff004c));
  background-image: -webkit-linear-gradient(#b30035, #ff004c);
  background-image: -moz-linear-gradient(#b30035, #ff004c);
  background-image: -o-linear-gradient(#b30035, #ff004c);
  background-image: linear-gradient(#b30035, #ff004c);
  -webkit-box-shadow: inset 0px 1px 0px #b30035, 0px 4px 0px 0px #4d0017, 0px 5px 4px #999999;
  -moz-box-shadow: inset 0px 1px 0px #b30035, 0px 4px 0px 0px #4d0017, 0px 5px 4px #999999;
  box-shadow: inset 0px 1px 0px #b30035, 0px 4px 0px 0px #4d0017, 0px 5px 4px #999999;
}
.cubicButton2:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #800026), color-stop(100%, #ff1a5e));
  background-image: -webkit-linear-gradient(#800026, #ff1a5e);
  background-image: -moz-linear-gradient(#800026, #ff1a5e);
  background-image: -o-linear-gradient(#800026, #ff1a5e);
  background-image: linear-gradient(#800026, #ff1a5e);
  -webkit-box-shadow: inset 0px 1px 0px #b30035, 0px 2px 0px 0px #4d0017, 0px 5px 3px #999999;
  -moz-box-shadow: inset 0px 1px 0px #b30035, 0px 2px 0px 0px #4d0017, 0px 5px 3px #999999;
  box-shadow: inset 0px 1px 0px #b30035, 0px 2px 0px 0px #4d0017, 0px 5px 3px #999999;
}
.cubicButton2 > i {
  background-color: #800026;
  width: 40px;
  max-height: 29px;
  height: 100%;
  position: absolute;
  display: block;
  padding-top: 8px;
  bottom: 0px;
  left: -39px;
  font-weight: bold;
  color: #e60044;
  text-align: center;
  text-shadow: 1px 1px 0px black;
  border-right: solid 1px #800026;
  z-index: 10;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: inset 0px 1px 0px #4d0017, 0px 5px 0px 0px #1a0008, 0px 10px 5px #999999;
  -moz-box-shadow: inset 0px 1px 0px #4d0017, 0px 5px 0px 0px #1a0008, 0px 10px 5px #999999;
  box-shadow: inset 0px 1px 0px #4d0017, 0px 5px 0px 0px #1a0008, 0px 10px 5px #999999;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b30035), color-stop(100%, #4d0017));
  background-image: -webkit-linear-gradient(#b30035, #4d0017);
  background-image: -moz-linear-gradient(#b30035, #4d0017);
  background-image: -o-linear-gradient(#b30035, #4d0017);
  background-image: linear-gradient(#b30035, #4d0017);
}

.aForms label {
  margin: 4px 4px 2px 0;
  display: block;
}
.aForms option {
  outline: none;
}
.aForms input, .aForms textarea, .aForms select {
  line-height: 22px;
  background-color: #fefefe;
  vertical-align: middle;
  padding: 5px 6px;
  color: #333333;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.075);
}
.aForms textarea, .aForms select, .aForms input[type="text"], .aForms input[type="password"], .aForms input[type="datetime"], .aForms input[type="datetime-local"], .aForms input[type="date"], .aForms input[type="month"], .aForms input[type="time"], .aForms input[type="week"], .aForms input[type="number"], .aForms input[type="email"], .aForms input[type="url"], .aForms input[type="search"], .aForms input[type="tel"], .aForms input[type="color"], .aForms .uneditable-input {
  border: 1px solid #cccccc;
  min-width: 200px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition-property: +box-shadow;
  -moz-transition-property: +box-shadow;
  -o-transition-property: +box-shadow;
  transition-property: +box-shadow;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.aForms textarea:hover, .aForms select:hover, .aForms input[type="text"]:hover, .aForms input[type="password"]:hover, .aForms input[type="datetime"]:hover, .aForms input[type="datetime-local"]:hover, .aForms input[type="date"]:hover, .aForms input[type="month"]:hover, .aForms input[type="time"]:hover, .aForms input[type="week"]:hover, .aForms input[type="number"]:hover, .aForms input[type="email"]:hover, .aForms input[type="url"]:hover, .aForms input[type="search"]:hover, .aForms input[type="tel"]:hover, .aForms input[type="color"]:hover, .aForms .uneditable-input:hover {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}
.aForms textarea:focus, .aForms textarea:active, .aForms select:focus, .aForms select:active, .aForms input[type="text"]:focus, .aForms input[type="text"]:active, .aForms input[type="password"]:focus, .aForms input[type="password"]:active, .aForms input[type="datetime"]:focus, .aForms input[type="datetime"]:active, .aForms input[type="datetime-local"]:focus, .aForms input[type="datetime-local"]:active, .aForms input[type="date"]:focus, .aForms input[type="date"]:active, .aForms input[type="month"]:focus, .aForms input[type="month"]:active, .aForms input[type="time"]:focus, .aForms input[type="time"]:active, .aForms input[type="week"]:focus, .aForms input[type="week"]:active, .aForms input[type="number"]:focus, .aForms input[type="number"]:active, .aForms input[type="email"]:focus, .aForms input[type="email"]:active, .aForms input[type="url"]:focus, .aForms input[type="url"]:active, .aForms input[type="search"]:focus, .aForms input[type="search"]:active, .aForms input[type="tel"]:focus, .aForms input[type="tel"]:active, .aForms input[type="color"]:focus, .aForms input[type="color"]:active, .aForms .uneditable-input:focus, .aForms .uneditable-input:active {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 4px #00a0e9;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 4px #00a0e9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 4px #00a0e9;
  background-color: white;
  border: 1px solid #00a0e9;
}
.aForms button, .aForms a.button, .aForms input[type="submit"] {
  font-size: 13px;
  color: #333333;
  border: 1px solid #aaaaaa;
  text-decoration: none;
  padding: 4px 12px;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  line-height: 22px;
  text-shadow: 1 -1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #e6e6e6;
  -webkit-transition-property: +box-shadowbackground-image(linear-gradient);
  -moz-transition-property: +box-shadowbackground-image(linear-gradient);
  -o-transition-property: +box-shadowbackground-image(linear-gradient);
  transition-property: +box-shadowbackground-image(linear-gradient);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(#ffffff, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #e6e6e6);
  background-image: linear-gradient(#ffffff, #e6e6e6);
}
.aForms button[type="submit"], .aForms a.button[type="submit"], .aForms input[type="submit"][type="submit"] {
  border: 1px solid #007db6;
  color: white;
  background-color: #00a0e9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a0e9), color-stop(100%, #007db6));
  background-image: -webkit-linear-gradient(#00a0e9, #007db6);
  background-image: -moz-linear-gradient(#00a0e9, #007db6);
  background-image: -o-linear-gradient(#00a0e9, #007db6);
  background-image: linear-gradient(#00a0e9, #007db6);
}
.aForms button[type="submit"]:hover, .aForms a.button[type="submit"]:hover, .aForms input[type="submit"][type="submit"]:hover {
  background-color: #007db6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0095da), color-stop(100%, #0072a7));
  background-image: -webkit-linear-gradient(#0095da, #0072a7);
  background-image: -moz-linear-gradient(#0095da, #0072a7);
  background-image: -o-linear-gradient(#0095da, #0072a7);
  background-image: linear-gradient(#0095da, #0072a7);
}
.aForms button:hover, .aForms a.button:hover, .aForms input[type="submit"]:hover {
  background: #e6e6e6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.aForms button:focus, .aForms button:active, .aForms a.button:focus, .aForms a.button:active, .aForms input[type="submit"]:focus, .aForms input[type="submit"]:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.success button, .success a.button, .success input[type="submit"] {
  font-size: 13px;
  color: #333333;
  border: 1px solid #aaaaaa;
  text-decoration: none;
  padding: 4px 12px;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  line-height: 22px;
  text-shadow: 1 -1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #e6e6e6;
  -webkit-transition-property: +box-shadowbackground-image(linear-gradient);
  -moz-transition-property: +box-shadowbackground-image(linear-gradient);
  -o-transition-property: +box-shadowbackground-image(linear-gradient);
  transition-property: +box-shadowbackground-image(linear-gradient);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(#ffffff, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #e6e6e6);
  background-image: linear-gradient(#ffffff, #e6e6e6);
}
.success button[type="submit"], .success a.button[type="submit"], .success input[type="submit"][type="submit"] {
  border: 1px solid #78af00;
  color: white;
  background-color: #9ae200;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9ae200), color-stop(100%, #78af00));
  background-image: -webkit-linear-gradient(#9ae200, #78af00);
  background-image: -moz-linear-gradient(#9ae200, #78af00);
  background-image: -o-linear-gradient(#9ae200, #78af00);
  background-image: linear-gradient(#9ae200, #78af00);
}
.success button[type="submit"]:hover, .success a.button[type="submit"]:hover, .success input[type="submit"][type="submit"]:hover {
  background-color: #78af00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #90d300), color-stop(100%, #6da000));
  background-image: -webkit-linear-gradient(#90d300, #6da000);
  background-image: -moz-linear-gradient(#90d300, #6da000);
  background-image: -o-linear-gradient(#90d300, #6da000);
  background-image: linear-gradient(#90d300, #6da000);
}
.success button:hover, .success a.button:hover, .success input[type="submit"]:hover {
  background: #e6e6e6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.success button:focus, .success button:active, .success a.button:focus, .success a.button:active, .success input[type="submit"]:focus, .success input[type="submit"]:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.05);
}

table.table {
  width: 100%;
  border-left: none;
  border-bottom: none;
  border-collapse: separate;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}
table.table th, table.table td {
  text-align: left;
  padding: 6px;
  border-bottom: 1px solid #dddddd;
  border-collapse: collapse;
}
table.table thead th {
  font-weight: bolder;
}
table.table tbody tr {
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
table.table tbody tr:nth-child(odd) {
  background-color: #fbfbfb;
}
table.table tbody tr:hover {
  background-color: #eeeeee;
}

table.table2 {
  width: 100%;
  border-left: none;
  border-bottom: none;
  border-collapse: separate;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}
table.table2 th, table.table2 td {
  text-align: center;
  padding: 4px;
  border-bottom: 1px solid #dddddd;
  border-collapse: collapse;
}
table.table2 thead th {
  font-weight: bolder;
}
table.table2 tbody tr {
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
table.table2 tbody tr:nth-child(odd) {
  background-color: #ffffe5;
}
table.table2 tbody tr:hover {
  background-color: #ffffcc;
}

.cabinet {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  margin-bottom: 15px;
  background: url("../images/cabinet_top.png") top left repeat-x;
  padding-top: 35px;
  position: relative;
}
.cabinet:after {
  content: url("../images/cabinet_tl.png");
  position: absolute;
  left: 0;
  top: 0;
}
.cabinet:before {
  content: url("../images/cabinet_tr.png");
  position: absolute;
  right: 0;
  top: 0;
}
.cabinet ul {
  background: url("../images/cabinet_left.png") top left repeat-y, url("../images/cabinet_right.png") top right repeat-y, url("../images/cabinet_mid.png");
  padding: 0 20px 0 21px;
  overflow: hidden;
  text-align: center;
}
.cabinet ul li {
  height: 90px;
  padding-top: 19px;
  display: inline-block;
  margin: 0 10px 0 10px;
}
.cabinet ul li img {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  height: 80px;
  width: auto;
}

.sizeRelative {
  float: left;
  margin: 10px;
  background-color: black;
  width: 10vw;
  height: 10vw;
}

.imgStack {
  position: relative;
  z-index: 10;
}
.imgStack img {
  max-width: 100%;
  height: auto;
  border: 10px solid white;
  vertical-align: bottom;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.imgStack:before, .imgStack:after {
  content: " ";
  left: 0;
  height: 100%;
  width: 100%;
  border: 10px solid white;
  background-color: white;
  position: absolute;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.imgStack:before {
  top: 2px;
  z-index: -1;
}
.imgStack:after {
  top: 4px;
  z-index: -2;
}
.imgStack:hover:before, .imgStack:hover:after {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.imgStack:before {
  -webkit-transform-origin: bottom left 50%;
  -moz-transform-origin: bottom left 50%;
  -ms-transform-origin: bottom left 50%;
  -o-transform-origin: bottom left 50%;
  transform-origin: bottom left 50%;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}
.imgStack:after {
  -webkit-transform-origin: bottom left 50%;
  -moz-transform-origin: bottom left 50%;
  -ms-transform-origin: bottom left 50%;
  -o-transform-origin: bottom left 50%;
  transform-origin: bottom left 50%;
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
}

.imgStack2 {
  position: relative;
  z-index: 10;
}
.imgStack2 img {
  max-width: 100%;
  height: auto;
  border: 10px solid white;
  vertical-align: bottom;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.imgStack2:before, .imgStack2:after {
  content: " ";
  left: 0;
  height: 100%;
  width: 100%;
  border: 10px solid white;
  background-color: white;
  position: absolute;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.imgStack2:before {
  top: 2px;
  z-index: -1;
}
.imgStack2:after {
  top: 4px;
  z-index: -2;
}
.imgStack2:hover:before, .imgStack2:hover:after {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.imgStack2:before {
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
}
.imgStack2:after {
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

.imgStack3 {
  position: relative;
  z-index: 10;
}
.imgStack3 img {
  max-width: 100%;
  height: auto;
  border: 10px solid white;
  vertical-align: bottom;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.imgStack3:before, .imgStack3:after {
  content: " ";
  left: 0;
  height: 100%;
  width: 100%;
  border: 10px solid white;
  background-color: white;
  position: absolute;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.imgStack3:before {
  top: 2px;
  z-index: -1;
}
.imgStack3:after {
  top: 4px;
  z-index: -2;
}
.imgStack3:hover:before, .imgStack3:hover:after {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.imgStack3:before {
  -webkit-transform-origin: bottom left 50%;
  -moz-transform-origin: bottom left 50%;
  -ms-transform-origin: bottom left 50%;
  -o-transform-origin: bottom left 50%;
  transform-origin: bottom left 50%;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.imgStack3:after {
  -webkit-transform-origin: bottom left 50%;
  -moz-transform-origin: bottom left 50%;
  -ms-transform-origin: bottom left 50%;
  -o-transform-origin: bottom left 50%;
  transform-origin: bottom left 50%;
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  transform: rotate(-6deg);
}

footer {
  width: 100%;
  min-height: 100px;
  background: #eeeeee;
  border-top: #cccccc 1px solid;
}
